<div class="friends-container">
  <h1>Friend</h1>
  <h2>My Friends List</h2>

  <table>
    <thead>
      <tr>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>GitHub Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adam</td>
        <td>Tomson</td>
        <td>Adam</td>
        <td>
          <a href="#" class="github-link">Lab02</a>
          <a href="#" class="github-link">Lab03</a>
          <a href="#" class="github-link">Lab04</a>
        </td>
      </tr>
      <tr>
        <td>Edward</td>
        <td>Hanso</td>
        <td>Ed</td>
        <td>
          <a href="#" class="github-link">Lab02</a>
          <a href="#" class="github-link">Lab03</a>
          <a href="#" class="github-link">Lab04</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
